<html>
  <head>
    <title>Go Gin 2.0 - Update Title</title>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    {{ template "header.html" . }} {{ if .errMessage }}
    <section class="bg-gray-50 dark:bg-gray-900 shadow">
      <p class="text-xl text-red-900 flex justify-center">{{ .errMessage }}</p>
      {{ end }}

      <div class="max-w-md mx-auto p-8 mt-4 shadow-lg rounded">
        <h2 class="text-2xl font-bold text-center mb-4">Update Note</h2>
        <form action="/notes/update-note/{{ .note.Id }}" method="post">
          <div class="mb-4">
            <label for="title" class="block text-sm font-medium text-gray-700"
              >New Title</label
            >
            <input
              type="text"
              id="title"
              name="title"
              value="{{ .note.Title }}"
              class="mt-1 p-2 border border-gray-300 rounded w-full"
              required
            />
          </div>
          <div class="mb-4 flex flex-row flex-1 w-full">
            <label
              for="title"
              class="text-sm flex-[0.7] font-medium text-gray-700"
              >Is Task Completed?</label
            >
            <input
              type="checkbox"
              id="status"
              name="status"
              class="p-2 flex-[0.3] border h-4 border-gray-300 rounded w-full"
              value="true"
              {{
              if
              .note.Status
              }}
              checked
              {{
              end
              }}
            />
          </div>

          <button
            type="submit"
            class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-3 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Update
          </button>
        </form>
      </div>
    </section>
    {{ template "footer.html" . }}
  </body>
</html>
